:host {
  --accent: #0533c8;
  --accent-light: #e8edff;
}

.prest-hero {
  /*background: linear-gradient(135deg, #001060 0%, #002080 55%, #0033b3 100%);*/
  /*background: linear-gradient(135deg, #001a6e 23%, #2e2ed5 60%, #BF0000 100%);*/
  background: linear-gradient(135deg, #0000FF 0%, #BF0000 100%);
}

.tech-categories {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .tech-categories {
    grid-template-columns: 1fr;
  }
}
