:host {
  --accent: #002080;
  --accent-light: #e8edff;
  --accent-gradient: linear-gradient(135deg, #001a6e 0%, #002080 60%, #003399 100%);
}

.prest-hero {
  background: linear-gradient(135deg, #001060 0%, #002080 55%, #0033b3 100%);
  /*background: linear-gradient(135deg, #001a6e 23%, #2e2ed5 60%, #BF0000 100%);*/
}
